.theme-dark body {
    background-color: #212529;
    color: #adb5bd;
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color: #ffffff;
    }
    .bg-color-ffffff {
        background-color: #1b1f22;
        box-shadow: none;
    }
    .form-control {
        background-color: transparent !important;
        color: #ffffff !important;
        border-color: #3e4143 !important;
        &::placeholder {
            color: #787d81;
        }
        &:focus {
            border-color: var(--mainColor) !important;
        }
    }
    .navbar {
        background-color: #1b1f22;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #ffffff;
                    &:hover {
                        color: var(--mainColor);
                    }
                }
                .dropdown-menu {
                    background-color: #1b1f22;
                    li .dropdown-item {
                        color: #ffffff;
                        &:hover {
                            color: var(--mainColor);
                        }
                    }
                }
            }
        }
        .others-options {
            .search-icon {
                img {
                    filter: brightness(100);
                }
            }
        }
    }
    .main-logo {
        display: none !important;
    }
    .white-logo {
        display: block !important;
    }
    .main-content-text {
        p {
            color: #adb5bd;
        }
        ul {
            li {
                color: #adb5bd;
            }
        }
        ol {
            li {
                color: #adb5bd;
            }
        }
    }
    .banner-content {
        .banner-list {
            li {
                color: var(--whiteColor);
                border-color: #30353b;
            }
        }
    }
    #preloader {
        background-color: #313e3e;
    }
    
    .offcanvas {
        background-color: #181818;
    }
    .for-mobile-navbar .offcanvas-header .close-btn {
        color: var(--whiteColor);
    }
    .for-mobile-navbar .offcanvas-header {
        border-color: rgba(255, 255, 255, 0.2);
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-button {
        color: var(--whiteColor);
    }
    .for-mobile-navbar .others-options ul li .call-us .call {
        color: var(--whiteColor);
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body {
        background-color: #272727;
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link {
        color: var(--whiteColor);
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-button {
        color: var(--whiteColor);
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-collapse .accordion-body {
        background-color: #272727;
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link {
        color: var(--whiteColor);
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-link.active {
        color: var(--mainColor);
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-button.active {
        color: var(--mainColor);
    }
    .for-mobile-navbar .offcanvas-body .accordion .accordion-item .accordion-collapse .accordion-body .accordion-item .accordion-button.active {
        color: var(--mainColor);
    }
    .navbar.sticky {
        background-color: #1b1f22 !important;
    }
    .banner-area.bg-1 {
        background: linear-gradient(180deg, #000000 0%, rgb(0 0 0 / 26%) 100%);
    }
    .banner-content .top-title {
        color: var(--whiteColor);
    }
    .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
        color: var(--mainColor) !important;
    }
    .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item.active {
        color: var(--mainColor) !important;
    }
    .navbar .others-options ul li i {
        color: var(--whiteColor);
    }
    .customers-area.bg-color-d19f19 {
        .customers-single-item {
            p {
                color: var(--headingColor);
            }
            h3 {
                color: var(--headingColor);
            }
        }
    }
    .what-we-do-for-customer-area .swiper-pagination-bullet {
        background-color: transparent;
    }
    .what-we-do-for-customer-area .swiper-pagination-bullet {
        color: var(--whiteColor) !important;
    }
    .what-we-do-for-customer-area .swiper-pagination-bullet.swiper-pagination-bullet-active {
        color: var(--mainColor) !important;
    }
    .rounded-btn {
        border-color: var(--whiteColor);
        color: var(--whiteColor);
        &:hover {
            border-color: var(--mainColor);
        }
        &.for-white-btn {
            border-color: var(--whiteColor);
            border-color: var(--whiteColor);
            color: var(--headingColor);
        }
    }
    .video-area::before {
        background-color: #212529;
    }
    .blog-single-item {
        border: 1px solid #373d43;
    }
    .blog-single-item .blog-single-content .tag {
        color: var(--whiteColor);
    }
    .blog-single-item .blog-single-content h3 a {
        color: var(--whiteColor);
    }
    .blog-single-item .blog-single-content .user-comment li a {
        color: var(--whiteColor);
    }
    .banner-content.style-three h1 {
        color: var(--whiteColor);
    }
    .video-rounded {
        filter: brightness(1000);
    }
    .skill-main li .skill-wrrap .skill-name {
        color: var(--whiteColor);
    }
    .skill-main li .skill-wrrap .skill-per:before {
        color: var(--whiteColor);
    }
    .skill-main li .skill-wrrap .skill-per {
        background-color: var(--mainColor);
    }
    .skill-main li .skill-wrrap .skill-bar {
        border-color: var(--mainColor);
    }
    .customers-single-item-two.style-three p {
        color: var(--whiteColor);
    }
    .customers-single-item-two.style-three:hover {
        background-color: var(--mainColor);
        i {
            color: var(--whiteColor);
        }
    }
    .customers-single-item-two span {
        color: var(--whiteColor);
    }
    .customers-single-item-two .quat-2 {
        filter: brightness(100);
    }
    .contact-us-content ul li {
        a {
            color: var(--whiteColor);
        }
        span {
            color: var(--whiteColor);
        }
    }
    .contact-us-content {
        form .form-group {
            .form-control {
                &::placeholder {
                    color: var(--whiteColor);
                }
            }
        }
    }
    .sub-hedaer-right-content.header-style-three li .number {
        color: var(--whiteColor);
    }
    .counter-area.style-three {
        &::before {
            background-color: #212529;
        }
    }
    .sub-hedaer-right-content.header-style-three li .call {
        color: var(--whiteColor);
    }
    .sub-hedaer-right-content.header-style-three li .review p {
        color: var(--whiteColor);
    }
    .what-we-do-single-item h3 a {
        color: var(--whiteColor);
    }
    .about-us-area-three {
        .rounded-btn.for-white-btn {
            color: var(--whiteColor);
        }
    }
    .page-banner-content h1 {
        font-weight: 700;
        letter-spacing: -4.2px;
        line-height: normal;
        font-size: 120px;
        color: rgba(0,0,0,0);
        -webkit-text-stroke: 1px rgba(255,255,255,.1);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 40px;
    }
    .details-content p {
        color: #adb5bd;
    }
    .details-content ul li {
        color: var(--whiteColor);
    }
    .details-content h4::before {
        background-color: #adb5bd;
    }
    .login-register-form {
        background-color: #1b1f22;
    }
    .login-register-form {
        label {
            color: var(--whiteColor);
        }
        .form-control {
            &::placeholder {
                color: var(--whiteColor);
            }
        }
        .form-group p a {
            color: var(--mainColor);
        }
        .form-group .log-with li span {
            color: var(--whiteColors);
        }
    }
    .login-register-form .form-check-label a {
        color: var(--mainColor);
    }
    .project-single-item h3 a {
        color: var(--whiteColor);
    }
    .read-more {
        color: var(--whiteColor);
    }
    .sidebar-widget {
        background-color: #2d3237;
    }
    .sidebar-widget .info li span {
        color: var(--whiteColor);
    }
    .sidebar-widget .contact li a {
        color: var(--whiteColor);
    }
    .sidebar-widget .contact li span {
        color: var(--whiteColor);
    }
    .sidebar-widget .categories li a {
        color: #adb5bd;
    }
    .product-sidebar .sidebar-widget .latest-product li a span {
        color: var(--mainColor);
    }
    .single-products .products-content h3 a {
        color: var(--whiteColor);
    }
    .single-products .products-content .price {
        color: var(--mainColor);
    }
    .sidebar-widget .form-group .form-control {
        &::placeholder {
            color: var(--whiteColor);
        }
    }
    .sidebar-widget .form-group .src-btn {
        color: var(--whiteColor);
    }
    .sidebar-widget.price-filter .field input {
        color: var(--whiteColor);
    }
    .pagination-area .page-numbers {
        color: #adb5bd;
    }
    .pagination-area .page-numbers i {
        color: #adb5bd;
    }
    .pagination-area .page-numbers {
        border-color:#adb5bd;
        &.current {
            color: var(--whiteColor);
            border-color: var(--mainColor);
        }
        &:hover {
            color: var(--whiteColor);
            border-color: var(--mainColor);
        }
    }
    .product-selecet {
        background-color: transparent;
        color: var(--whiteColor);
        option {
            color: var(--headingColor);
        }
    }
    .product-details-info p {
        border-color: #adb5bd;
    }
    .product-details-info .sku li .title {
        color: var(--whiteColor);
    }
    .product-details-info .product-quantity .input-counter input {
        color: var(--whiteColor);
    }
    .product-details-info .product-quantity .input-counter .minus-btn i {
        color: var(--whiteColor);
    }
    .product-details-info .product-quantity .input-counter .plus-btn i {
        color: var(--whiteColor);
    }
    .product-information-wrap .nav-tabs .nav-item .nav-link.active {
        color: var(--whiteColor);
    }
    .product-information-wrap .nav-tabs{
        border-color: #414141;
    }
    .product-review-form .review-comments .review-item {
        border-color: #414141;
    }
    .product-review-form .review-comments .review-item span strong {
        color: var(--whiteColor);
    }
    .product-review-form .review-comments .review-item .review-report-link {
        color: var(--whiteColor);
    }
    .product-review-form .review-form form .form-group {
        .form-control {
            &::placeholder {
                color: var(--whiteColor);
            }
        }
    }
    .cart-controller .cart-table table thead tr th {
        color: var(--whiteColor);
    }
    .cart-controller .cart-table table tbody tr td {
        border-color: #414141;
    }
    .table-bordered>:not(caption)>* {
        border-color: #414141;
    }
    .cart-controller .cart-table table tbody tr td a {
        color: var(--whiteColor);
    }
    .cart-controller .cart-table table tbody tr td {
        color: var(--whiteColor);
    }
    .cart-controller .cart-table table tbody tr td .close-btn {
        color: var(--whiteColor);
    }
    .cart-controller .cart-table table tbody tr td.product-quantity .input-counter input {
        color: var(--whiteColor);
    }
    .cart-controller .cart-table table tbody tr td.product-quantity .input-counter .minus-btn i {
        color: var(--whiteColor);
    }
    .cart-controller .cart-table table tbody tr td.product-quantity .input-counter .plus-btn i {
        color: var(--whiteColor);
    }
    .checkout-form .form-group label {
        color: var(--whiteColor);
    }
    .appointment-form .form-control {
        &:focus {
            border-color: var(--headingColor) !important;
        }
    }
    .checkout-bg {
        background-color: #2d3237;
    }
    .checkout-summary .summary-list li {
        border-color: #4d5359;
    }
    .checkout-summary .summary-list li .text-dark {
        color: var(--whiteColor) !important;
    }
    .checkout-summary .faq-accordion .accordion-header .accordion-button {
        color: var(--whiteColor) !important;
    }
    .checkout-summary .faq-accordion .accordion-header .accordion-button::after {
        top: 5px;
    }
    .faq-content .accordion .accordion-item .accordion-header .accordion-button {
        background-color: transparent;
        color: var(--whiteColor);
    }
    .accordion-item {
        background-color: transparent;
    }
    .faq-content .accordion .accordion-item .accordion-body p {
        color: #adb5bd;
    }
    .faq-content .accordion .accordion-item {
        border-color: #383e45;
    }
    .accordion-button::after {
        filter: brightness(100);
    }
    .error-area {
        background-color: #212529;
        img {
            filter: brightness(0.5);
        }
    }
    .sidebar-widget .latest-posts li a span {
        color: #adb5bd;
    }
    .sidebar-widget .tags li a {
        color: var(--whiteColor);
    }
    .sidebar-widget h3 {
        border-color: #495058;
    }
    .blog-details-content .created-list li {
        color: var(--whiteColor);
    }
    .blog-details-content blockquote {
        color: var(--whiteColor);
        background-color: #2d3237;
    }
    .blog-details-content .tags li span {
        color: var(--whiteColor);
    }
    .blog-details-content .tags li a {
        color: var(--whiteColor);
    }
    .blog-details-content .share li span {
        color: var(--whiteColor);
    }
    .blog-details-content .share li a {
        border-color: var(--whiteColor);
        i {
            color: var(--whiteColor);
        }
    }
    .contact-us-content .detail {
        border-color: #495058;
    }
}
